.van-tabs--line .van-tabs__wrap {
    height: 150px;
}

.explosive .van-tabs__wrap--scrollable .van-tab {
    flex-basis: 30% !important;
}

.pintuan .van-tabs__wrap--scrollable .van-tab {
    flex-basis: 68% !important;
}

.jingping .van-grid-item__content {
    background-color: #fc7e7f;
}

.jingping .van-grid-item__content::after {
    z-index: 1;
    border-width: 0 0px 0px 0;
}

.jingping .van-grid {
    padding: 0 10px;
}

.haohuo-tabs .van-tabs__wrap--scrollable .van-tab {
    flex-basis: 28% !important;
}

.bra-tabs .van-tabs--line .van-tabs__wrap {
    height: 132px;
}

.bra-tabs .van-tabs__wrap--scrollable .van-tab {
    flex-basis: 31% !important;
}

.huodong .van-icon__image {
    width: 125px;
    height: 125px;
}

.huodong .van-tabs__wrap--scrollable .van-tab {
    flex-basis: 36% !important;
}

.box .van-search {
    padding: 6px 12px;
    margin-left: -17px;
    width: 327px;
}

.goods .van-search {
    padding: 6px 12px;
    margin-left: -17px;
    width: 327px;
}

.goods .van-nav-bar__title {
    max-width: 74%;
    position: relative;
    top: 5px;
    left: 0px;
    border-radius: 6%;
}

.goods_div .van-nav-bar .van-icon {
    color: #7864a6;
    vertical-align: middle;
}

.dahang .van-tabbar--fixed {
    position: inherit;
    bottom: 0;
    left: 0;
}

.dahang .dahang_tabbar .van-tabbar-item--active {
    color: #9a8b85;
}

.detail .van-tabs--line .van-tabs__wrap {
    height: 50px;
}

.detail .grid .van-grid-item {
    flex-basis: 33% !important;
}

.shop .van-nav-bar .van-icon {
    color: #666666;
    /* vertical-align: middle; */
}

.shop .van-button--danger {
    color: #fff;
    background-color: #ff6f6f;
    border: 1px solid #ff6f6f;
}

.order .van-nav-bar .van-icon {
    color: #666666;
    /* vertical-align: middle; */
}

.me .van-nav-bar .van-icon {
    color: #666666;
    /* vertical-align: middle; */
}

.goods .van-nav-bar .van-icon {
    color: #666666;
    /* vertical-align: middle; */
}

.detail .van-nav-bar .van-icon {
    color: #666666;
    /* vertical-align: middle; */
}


.address .van-nav-bar .van-icon {
    color: #666666;
    /* vertical-align: middle; */
}

.address .van-button--danger {
    color: #fff;
    background-color: #ff6f6f;
    border: 1px solid #ff6f6f;
}

.order .van-button--danger {
    color: #fff;
    background-color: #ff6f6f;
    border: 1px solid #ff6f6f;
}

.detail .van-tabs__line {
    background-color: #fff;
}

